<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="_layout :: head">
    <title>Delete Product</title>
</head>
<body>
<div id="wrapper">
    <div th:replace="~{_layout :: menu}"></div>
    <div id="content-wrapper">
        <div id="content">
            <div th:replace="~{_layout :: nav-top}"></div>
            <div class="container-fluid">
                <div class="input-group m-1">
                    <a class="btn btn-primary" th:href="@{/categories/add}">Add new category</a>
                    <div class="form-outline w-25" data-mdb-input-init>
                        <input type="search" id="search-input" class="form-control ml-2" placeholder="Nhập tên loại sản phẩm cần tìm"/>
                    </div>
                </div>
                <div id="content-display">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Mã loại</th>
                            <th scope="col">Tên loại</th>
                        </tr>
                        </thead>
                        <tbody th:each="category : ${listCategory}">
                        <tr>
                            <td th:text="${category.id}"></td>
                            <td th:text="${category.name}"></td>
                            <td><a class="btn btn-success" th:href="@{/categories/edit(id=${category.id})}">Edit</a>
                                <a class="btn btn-warning" th:href="@{/categories/delete(id=${category.id})}">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div th:replace="~{_layout :: footer}"></div>
    </div>
</div>
<div th:replace="~{_layout :: script_src}"></div>

<script type="text/javascript">
    $(document).ready(function (){
        const searchBar = document.getElementById("search-input");
        searchBar.addEventListener("change", function (){
            let value = searchBar.value;
            $.ajax({
                url: "/categories/searchcategory",
                data: {name: value},
                type: "GET",
                success: function (data){
                    $("#content-display").html(data)
                },
                error: function (xhr){
                    console.log(xhr);
                }
            });
        });
    });
</script>
</body>
</html>