<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="_layout :: head">
  <title>List Manufacturer</title>
</head>
<body>
<div id="wrapper">
  <div th:replace="~{_layout :: menu}"></div>
  <div id="content-wrapper">
    <div id="content">
      <div th:replace="~{_layout :: nav-top}"></div>
      <div class="container-fluid">
        <div class="input-group m-1">
          <a class="btn btn-primary" th:href="@{/manufacturers/add}">Add new manufacturer</a>
          <div class="form-outline w-25" data-mdb-input-init>
            <input type="search" id="search-input" class="form-control ml-2" placeholder="Nhập tên nhà sản xuất cần tìm"/>
          </div>
        </div>
        <div id="content-display">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Mã nhà sản xuất</th>
              <th scope="col">Tên nhà sản xuất</th>
              <th scope="col">Địa chỉ</th>
            </tr>
            </thead>
            <tbody th:each="manufacturer : ${listManufacturer}">
            <tr>
              <td th:text="${manufacturer.id}"></td>
              <td th:text="${manufacturer.name}"></td>
              <td th:text="${manufacturer.address}"></td>
              <td><a class="btn btn-success" th:href="@{/manufacturers/edit(id=${manufacturer.id})}">Edit</a>
                <a class="btn btn-warning" th:href="@{/manufacturers/delete(id=${manufacturer.id})}">Delete</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div th:replace="~{_layout :: footer}"></div>
  </div>
</div>
<div th:replace="~{_layout :: script_src}"></div>

<script type="text/javascript">
  $(document).ready(function (){
    const searchBar = document.getElementById("search-input");
    searchBar.addEventListener("change", function (){
      let value = searchBar.value;
      $.ajax({
        url: "/manufacturers/searmanufacturer",
        data: {name: value},
        type: "GET",
        success: function (data){
          $("#content-display").html(data)
        },
        error: function (xhr){
          console.log(xhr);
        }
      });
    });
  });
</script>
</body>
</html>